In [6]:
import pandas as pd

df = pd.read_csv("data/taxi-fares.csv")
#print(aa.dtypes)
len(df)

237535

In [7]:
df["tpep_pickup_datetime"] = pd.to_datetime(df["tpep_pickup_datetime"], errors='coerce')
df["tpep_dropoff_datetime"] = pd.to_datetime(df["tpep_dropoff_datetime"], errors='coerce')

df["pickup_dow"] = df["tpep_pickup_datetime"].dt.dayofweek
df["pickup_hour"] = df["tpep_pickup_datetime"].dt.hour
trip_duration = df["tpep_dropoff_datetime"] - df["tpep_pickup_datetime"]
df["trip_duration"] = trip_duration.map(lambda x: x.total_seconds() / 60)
dateTimeColumns = list(df.select_dtypes(include=["datetime64"]).columns)
df[dateTimeColumns] = df[dateTimeColumns].astype(str)
df.drop(columns=["tpep_pickup_datetime", "tpep_dropoff_datetime"], inplace=True)

In [12]:
df

,Unnamed: 0,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,pickup_dow,pickup_hour,trip_duration
0,0,2,1.0,1.72,1.0,N,186,79,2,17.7,...,0.5,0.00,0.0,1.0,22.70,2.5,0.0,0,0,19.800000
1,1,1,1.0,1.80,1.0,N,140,236,1,10.0,...,0.5,3.75,0.0,1.0,18.75,2.5,0.0,0,0,6.600000
2,2,1,1.0,4.70,1.0,N,236,79,1,23.3,...,0.5,3.00,0.0,1.0,31.30,2.5,0.0,0,0,17.916667
3,3,1,1.0,1.40,1.0,N,79,211,1,10.0,...,0.5,2.00,0.0,1.0,17.00,2.5,0.0,0,0,8.300000
4,4,1,1.0,0.80,1.0,N,211,148,1,7.9,...,0.5,3.20,0.0,1.0,16.10,2.5,0.0,0,0,6.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237530,237530,2,1.0,2.04,1.0,N,100,113,1,14.9,...,0.5,2.00,0.0,1.0,20.90,2.5,0.0,3,9,14.433333
237531,237531,2,1.0,1.06,1.0,N,170,229,1,7.9,...,0.5,2.38,0.0,1.0,14.28,2.5,0.0,3,9,5.266667
237532,237532,2,2.0,0.77,1.0,N,237,236,1,7.2,...,0.5,1.00,0.0,1.0,12.20,2.5,0.0,3,9,5.800000
237533,237533,2,2.0,1.45,1.0,N,236,43,2,10.7,...,0.5,0.00,0.0,1.0,14.70,2.5,0.0,3,9,9.700000
237534,237534,2,2.0,3.00,1.0,N,239,68,2,18.4,...,0.5,0.00,0.0,1.0,22.40,2.5,0.0,3,9,18.050000

In [9]:
import sqlite3

conn = sqlite3.connect('/home/user/ml-recipes-regression/metadata/mlflow/mlruns.db')

In [10]:
conn.execute("show tables")

OperationalError: near "show": syntax error

In [7]:
conn.close()

In [8]:
conn.close()

In [13]:
conn.execute("SELECT name FROM sqlite_master WHERE type='table';")